{% extends 'world/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12" style="height: 600px;">{% include 'world/my_map.html' %}</div>
  </div>
  <div class="row">
    <div id="been" class="col-sm-5">
      <h1>Countries</h1>
      <h3>I have been to</h3>
      <ul>
        {% for destination in destinations %} {% if destination.been %}
        <li>{{destination.country_name}}</li>
        {% endif %} {% endfor%}
      </ul>
    </div>
    <div id="want" class="col-sm-5">
      <h1>Countries</h1>
      <h3>I want to go to</h3>
      <ul>
        {% for destination in destinations %} {% if destination.want_to_go %}
        <li>{{destination.country_name}}</li>
        {% endif %} {% endfor%}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
