{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/"
    ><i class="fas fa-globe-americas logo"></i
  ></a>
  {% if user_id %}
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if countries %}
      <li class="nav-item active">{% else %}</li>
      <li class="nav-item">
        {% endif %}
        <a class="nav-link" href="/home/{{ user_id }}/"
          >Add Countries <span class="sr-only">(current)</span></a
        >
      </li>
      {% if destinations %}
      <li class="nav-item active">{% else %}</li>
      <li class="nav-item">
        {% endif %}
        <a class="nav-link" href="/myworld/{{ user_id }}">Your World</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <form method="POST">
            {% csrf_token %}
            <button
              class="nav-link logout"
              type="click"
              name="logout"
              value="log me out!"
            >
              Log out
            </button>
          </form>
        </ul>
      </li>
    </ul>
  </div>
  {% endif %}
  <h1>Around the World</h1>
  </div>
</nav>
{% endblock %}
