{% extends 'world/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 main-form text-center">
        <h3>Sign Up</h3>
      <p>
        Around the World is a place to track the countries you've been and want
        to go to. Create an account and start filling in your
        world map. See how colorful your world is!
      </p>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ sign_up_form.as_p }}
          <input type="submit" />
        </div>
      </form>
      <a href="/signin">
        <p>Been Around the World? Sign In</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
